:root, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px;

    font-family: 'Oswald', sans-serif;
    font-size: medium;
    font-weight: 400;

    background-color: white;
    color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    box-shadow: 0 0 2ch -0.5ch black;

    display: flex;
    justify-content: space-between;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
}

header nav ul li {
    padding: 1ch;
    text-align: center;
    min-width: 12ch;
}

#nav-current-page {
    /*maybe have a little arrow/triangle pointing toward the current page*/
}

#nav-current-page-indicator {
    width: 0;
    height: 0;
    border-left: 1ch transparent;
    border-right: 1ch transparent;
    border-bottom: 1ch black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

header nav ul li h2, header nav ul li h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
}

header nav ul li h3 {
    font-weight: 200;
    font-size: 0.8rem;
}



/*
@media (prefers-color-scheme: dark) {

}
*/
