@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px;

    font-family: 'Oswald', sans-serif;
    font-size: medium;
    font-weight: 400;

    background-color: white;
    color: black;

    scroll-behavior: smooth;
}

header {
    /*box-shadow: 0 0 0.5ch 0 black;*/
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: lightgrey;
    background-color: white;

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
}

header site-logo {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem;
}

header nav {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
}

header nav a {
    padding: 1ch;
    text-align: center;
    min-width: 10ch;
    text-decoration: none;
    color: black;
}

header nav a h2, header nav a h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
}

header nav a h3 {
    font-weight: 200;
    font-size: 0.8rem;
}
/*
main section:target::before{
    content: ">";
}
*/
main {
    max-width: 40ch;
}

main section {
    scroll-margin-top: 5rem;
}

footer {
    /*tiny sticky-footer?*/
}


/*
@media (prefers-color-scheme: dark) {

}
*/
