:root, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px;

    font-family: 'Oswald', sans-serif;
    font-size: medium;
    font-weight: 400;

    background-color: white;
    color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 0 2ch -0.5ch black;
}
/*
@media (prefers-color-scheme: dark) {

}
*/
